/**
  General
*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/**
  Basic containers
*/
div.container-middle {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 900px;
}

div.container {
  width: 100%;
}

/**
  Tables
*/
table.table-full {
  width: 100%;
}

table {
  border-spacing: 0;
  border: none;
  text-align: left;
  border-collapse: collapse;
}

table thead {
  border: 1px solid #bbb;
  font-weight: bold;
  background: #bbb;
}

table th, table td {
  padding: 3px;
  margin: 0;
}

table thead th {
  border-bottom: 1px solid #888;
}

table tbody td {
  border: 1px solid #bbb;
}

table tbody tr:nth-child(even) {
  background: #fafafa;
}

table tfoot {
  font-weight: bold;
  border-top: 1px solid #000;
}

table tfoot td {
  border: 1px solid #bbb;
}

/**
  Inputs
*/
input, select {
  margin-bottom: 0.25em;
}
